In [100]:
import pandas as pd 
import numpy as numpy

In [101]:
#Load both CSVs
products=pd.read_csv("/Users/camiloandres/Documents/data_analysis_projects/ecommerce_sales_analysis/data/products.csv")
orders=pd.read_csv("/Users/camiloandres/Documents/data_analysis_projects/ecommerce_sales_analysis/data/orders.csv")

## Inspection of the Datasets

In [102]:
#Shape and info 
print(products.shape)
print(products.info())
print(orders.shape)
print(orders.info())

#Missing values 
print(products.isnull().sum())
print(orders.isnull().sum())

#Duplicates
print(products.duplicated().sum())
print(orders.duplicated().sum())

(20, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          20 non-null     int64
 1   product_name        20 non-null     object
 2   product_category    20 non-null     object
 3   manufacturing_city  20 non-null     object
 4   size                20 non-null     object
 5   color               20 non-null     object
 6   SKU                 20 non-null     object
dtypes: int64(1), object(6)
memory usage: 1.2+ KB
None
(5000, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       5000 non-null   int64
 1   product_id     5000 non-null   int64
 2   customer_id    5000 non-null   int64
 3   price          5000 non-null   float64
 4   shipping_date  5000 non-null   object
 5   order_date     5000 non-null   object
dtypes: float64(1), int64(3), object(2)
memory usage: 234.5+ KB
None
product_id            0
product_name          0
product_category      0
manufacturing_city    0
size                  0
color                 0
SKU                   0
dtype: int64
order_id         0
product_id       0
customer_id      0
price            0
shipping_date    0
order_date       0
dtype: int64
0
0

## Validate Relationships

In [103]:
#Check if all order product_ids exist in products
invalid_products=orders[~orders["product_id"].isin(products["product_id"])]
print(invalid_products)

Empty DataFrame
Columns: [order_id, product_id, customer_id, price, shipping_date, order_date]
Index: []

The relationshionship between orders.product_id and products.product_id es clean and valid, which means that every order corresponds to a real product.

## Convert and format data types

In [104]:
orders["order_date"]=pd.to_datetime(orders["order_date"],errors="coerce")
orders["product_id"]=orders["product_id"].astype(str)
products["product_id"]=products["product_id"].astype(str)

## Merge the tables

In [105]:
merged_df = pd.merge(
    orders,
    products,
    on='product_id',
    how='left'
)

In [106]:
#Check
merged_df.info()
merged_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            5000 non-null   int64
 1   product_id          5000 non-null   object
 2   customer_id         5000 non-null   int64
 3   price               5000 non-null   float64
 4   shipping_date       5000 non-null   object
 5   order_date          5000 non-null   datetime64[ns]
 6   product_name        5000 non-null   object
 7   product_category    5000 non-null   object
 8   manufacturing_city  5000 non-null   object
 9   size                5000 non-null   object
 10  color               5000 non-null   object
 11  SKU                 5000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(2), object(8)
memory usage: 468.9+ KB

,order_id,product_id,customer_id,price,shipping_date,order_date,product_name,product_category,manufacturing_city,size,color,SKU
0,654498,38675,5687,255.56,2023-04-13,2023-02-25,Product_19,Toys,Brisbane,Large,White,SKU-7514
1,776523,87282,2530,849.21,2023-12-15,2023-03-01,Product_10,Furniture,Perth,Large,Black,SKU-1234
2,775878,86012,4771,896.20,2023-09-28,2023-05-18,Product_15,Toys,Brisbane,Large,Green,SKU-6786
3,181081,49093,4199,456.21,2023-04-17,2023-02-08,Product_7,Clothing,Brisbane,Small,Gray,SKU-5096
4,928572,88034,5656,238.19,2023-03-13,2023-01-28,Product_9,Electronics,Sydney,Small,White,SKU-7753

## Export cleaned data

In [107]:
merged_df.to_csv('../data/cleaned_merged_data.csv', index=False)
print("Cleaned data exported successfully!")

Cleaned data exported successfully!